:root {
    --indigo-900: #0b001e;
    --indigo-800: #1b013f;
    --indigo-700: #2c0370;
    --indigo-600: #4105ad;
    --indigo-500: #6610f2;
    --indigo-400: #8348e0;
    --indigo-300: #ac87e7;
    --indigo-200: #c0b6d2;
    --indigo-100: #f1f0f6;
}